In [1]:
import pandas as pd

In [2]:
fruits=pd.Series([2,3,4,5],["apple","grapes","banana","mango"])
print(fruits)

apple     2
grapes    3
banana    4
mango     5
dtype: int64

In [3]:
# We perform basic element-wise operations using arithmetic symbols
print()
print('fruits + 2:\n', fruits + 2) # We add 2 to each item in fruits
print()
print('fruits - 2:\n', fruits - 2) # We subtract 2 to each item in fruits
print()
print('fruits * 2:\n', fruits * 2) # We multiply each item in fruits by 2 
print()
print('fruits / 2:\n', fruits / 2) # We divide each item in fruits by 2
print()

fruits + 2:
 apple     4
grapes    5
banana    6
mango     7
dtype: int64

fruits - 2:
 apple     0
grapes    1
banana    2
mango     3
dtype: int64

fruits * 2:
 apple      4
grapes     6
banana     8
mango     10
dtype: int64

fruits / 2:
 apple     1.0
grapes    1.5
banana    2.0
mango     2.5
dtype: float64

In [4]:
import numpy as np

In [5]:
# We perform basic element-wise operations using arithmetic symbols
print()
print('fruits sqrt\n', np.sqrt(fruits)) # We add 2 to each item in fruits
print()
print('fruits exp\n', np.exp(fruits)) # We subtract 2 to each item in fruits
print()
print('fruits power\n', np.power(fruits,2)) # We multiply each item in fruits by 2 
print()

fruits sqrt
 apple     1.414214
grapes    1.732051
banana    2.000000
mango     2.236068
dtype: float64

fruits exp
 apple       7.389056
grapes     20.085537
banana     54.598150
mango     148.413159
dtype: float64

fruits power
 apple      4
grapes     9
banana    16
mango     25
dtype: int64

In [6]:
#we can perform arthemetic operations on selected items
print()
print("mutltiply apples ",fruits["apple"]*2)
print()
print("add to apples and grapes",fruits[["apple","grapes"]]+2)
print()
print("divide by 2",fruits.iloc[[0]]/2)

mutltiply apples  4

add to apples and grapes apple     4
grapes    5
dtype: int64

divide by 2 apple    1.0
dtype: float64

In [7]:
groceries=pd.Series([1,2,"yes","no"],["fruits","veg","burger","iade"])
print(groceries)

fruits      1
veg         2
burger    yes
iade       no
dtype: object

In [8]:
print(groceries*2)

fruits         2
veg            4
burger    yesyes
iade        nono
dtype: object

In [9]:
import pandas as pd

# Create a Pandas Series that contains the distance of some planets from the Sun.
# Use the name of the planets as the index to your Pandas Series, and the distance
# from the Sun as your data. The distance from the Sun is in units of 10^6 km

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']

# Create a Pandas Series using the above data, with the name of the planets as
# the index and the distance from the Sun as your data.
dist_planets = pd.Series(distance_from_sun,planets)

# Calculate the number of minutes it takes sunlight to reach each planet. You can
# do this by dividing the distance from the Sun for each planet by the speed of light.
# Since in the data above the distance from the Sun is in units of 10^6 km, you can
# use a value for the speed of light of c = 18, since light travels 18 x 10^6 km/minute.
time_light = dist_planets/18

# Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
close_planets = time_light[time_light < 40]
print(close_planets)

Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

In [10]:
# practice
fruits=pd.Series([8,9,10,4],["apple","banana","cherry","dragonfruit"])
print(fruits)

apple           8
banana          9
cherry         10
dragonfruit     4
dtype: int64

In [11]:
print("\n",fruits+2)
print("\n",fruits-2)
print("\n",fruits*2)
print("\n",fruits/2)

 apple          10
banana         11
cherry         12
dragonfruit     6
dtype: int64

 apple          6
banana         7
cherry         8
dragonfruit    2
dtype: int64

 apple          16
banana         18
cherry         20
dragonfruit     8
dtype: int64

 apple          4.0
banana         4.5
cherry         5.0
dragonfruit    2.0
dtype: float64

In [12]:
import numpy as np

In [14]:
print("sqrt \n",np.sqrt(fruits))
print("sqrt \n",np.exp(fruits))
print("sqrt \n",np.power(fruits,2))

sqrt
 apple          2.828427
banana         3.000000
cherry         3.162278
dragonfruit    2.000000
dtype: float64
sqrt
 apple           2980.957987
banana          8103.083928
cherry         22026.465795
dragonfruit       54.598150
dtype: float64
sqrt
 apple           64
banana          81
cherry         100
dragonfruit     16
dtype: int64

In [15]:
print("fruits \n",fruits)
print(fruits["banana"]*2)
print("fruits \n",fruits)

fruits
 apple           8
banana          9
cherry         10
dragonfruit     4
dtype: int64
18
fruits
 apple           8
banana          9
cherry         10
dragonfruit     4
dtype: int64

In [18]:
print("fruits \n",fruits)
print(fruits[["banana","cherry"]]*2)
print(fruits.loc[["banana","cherry"]]*2)
print("fruits \n",fruits)

fruits
 apple           8
banana          9
cherry         10
dragonfruit     4
dtype: int64
banana    18
cherry    20
dtype: int64
banana    18
cherry    20
dtype: int64
fruits
 apple           8
banana          9
cherry         10
dragonfruit     4
dtype: int64

In [19]:
print("fruits \n",fruits)
print(fruits[[-1]]*2)
print(fruits.iloc[[0]]*2)
print("fruits \n",fruits)

fruits
 apple           8
banana          9
cherry         10
dragonfruit     4
dtype: int64
dragonfruit    8
dtype: int64
apple    16
dtype: int64
fruits
 apple           8
banana          9
cherry         10
dragonfruit     4
dtype: int64

In [20]:
groceries=pd.Series([1,2,"yes","no"],["fruits","veg","burger","iade"])
print(groceries)
print("\n")
print(groceries*2)

fruits      1
veg         2
burger    yes
iade       no
dtype: object


fruits         2
veg            4
burger    yesyes
iade        nono
dtype: object