In [1]:
import pandas as pd

In [10]:
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

print(type(items))

<class 'dict'>

In [13]:
shopping_carts=pd.DataFrame(items)
print(shopping_carts)
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [39]:

# if no indexes then dataframe automatically creates indexes 0,1,2
items={"bob":pd.Series([10,20,30]),
      "Alice":pd.Series([11,12,13])}

df=pd.DataFrame(items)

df

In [23]:
# we print information about dataframe
print("the shape of dataframe",shopping_carts.shape)
print("the dimensions of dataframe ",shopping_carts.ndim)
print("the size of dataframe ",shopping_carts.size)
print("the values of dataframe ",shopping_carts.values)
print("the row indexes of dataframe ",shopping_carts.index)
print("the column indexes of dataframe ",shopping_carts.columns)

the shape of dataframe (5, 2)
the dimensions of dataframe  2
the size of dataframe  10
the values of dataframe  [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]
the row indexes of dataframe  Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')
the column indexes of dataframe  Index(['Bob', 'Alice'], dtype='object')

In [42]:
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# We Create a DataFrame that only has Bob's data
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])

# We display bob_shopping_cart
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [41]:
sel_shopping_cart=pd.DataFrame(items,index=["book","pants"])
sel_shopping_cart

        Bob  Alice
book    NaN     40
pants  25.0     45

In [46]:
alice_shopping_cart=pd.DataFrame(items,columns=["Alice"],index=["glasses","bike"])
alice_shopping_cart

         Alice
glasses    110
bike       500

In [48]:
data={"Integers":[1,2,3],
     "Floats":[12.1,13.4,14.6]}
df=pd.DataFrame(data)
df

   Integers  Floats
0         1    12.1
1         2    13.4
2         3    14.6

In [49]:
data={"Integers":[1,2,3],
     "Floats":[12.1,13.4,14.6]}
df=pd.DataFrame(data,index=["label1","label2","lable3"])
df

        Integers  Floats
label1         1    12.1
label2         2    13.4
lable3         3    14.6

In [50]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame 
store_items = pd.DataFrame(items2)

# We display the DataFrame
store_items

   bikes  pants  watches  glasses
0     20     30       35      NaN
1     15      5       10     50.0

In [51]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

# We display the DataFrame
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0